/* You can add global styles to this file, and also import other style files */
body {
  color: #222;
  background: #fff;
  font: 100% system-ui;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
}
